doctype html
html
    head
        style
            include style.css
    body
        div
            | Hello world
            br
            | This is our container

            block content

        footer
            | (c) Sep-2021 1996-2022
            | FOOTER !
            a(href=frontendUrl) GOOGLE
