<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not Found</title>
    <style>
        body {
            margin: 0;
            background-color: rgb(10, 16, 36);
        }

        header > a {
            margin-left: 10px;
            color: white;
        }

        img {
            width: 100%;
            height: calc(100vh - 41px);
        }
    </style>
</head>
<body>
<header>
    <a href="/login">Login</a>
    <a href="/users">Users</a>
    <a href="/errors">Error</a>
    <a href="/singIn">SingIn</a>
    <a href="/">API</a>
</header>
<hr>
<img src="https://d-element.ru/upload/iblock/883/oblozhka.png"
     alt="404">
</body>
</html>