<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing in</title>
</head>
<body>
<header>
    <a href="/">API</a>
    <a href="/login">Login</a>
    <a href="/users">Users</a>
    <a href="/errors">Errors</a>
</header>
<hr>
<form action="/singIn" method="post">
    <input type="email" name="email" placeholder="Login...">
    <input type="password" name="password" placeholder="Password...">
    <button>Enter</button>
</form>
</body>
</html>